@model MejorPrecio3.MVC.Models.AccountIndexViewModel
@using System.Security.Claims;

<div class="container">
  
        <div class="row">

            <div class="col-md-3" style="margin-top:5%;">
                <ul class="nav nav-pills nav-stacked admin-menu" >
                    <li class="active"><a href="" data-target-id="profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="" data-target-id="change-password"><i class="fa fa-lock"></i> Cambiar Contraseña</a></li>
                    <li><a href="" data-target-id="history"><i class="fa fa-history"></i> Historial</a></li>
                    <li><a href="javascript{};" onclick="document.getElementById('logoutForm').submit();"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                    <form id="logout-form" asp-controller="Login" asp-action="Logout" method="POST" style="display:none;"></form>
                </ul>
            </div>

            <div class="col-md-9  admin-content" id="profile">
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Name</h3>
                    </div>
                    <div class="panel-body">
                        @Model.name
                    </div>
                </div>
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Email</h3>
                    </div>
                    <div class="panel-body">
                        @Model.email
                    </div>
                </div>
            </div>

            <div class="col-md-9  admin-content" id="change-password">
                <form action="/Account/ModifyPassword" method="post">
                    <div class="form-group" hidden>
                                    <input type="email" class="form-control" name="mail" id="newPassword" >
                    </div>
           
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="newPassword" class="control-label panel-title">New Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="modifyPassword.password" id="newPassword" >
                                    <span asp-validation-for="modifyPassword.password" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

             
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="confirmPassword" class="control-label panel-title">Confirm password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="modifyPassword.confirmPassword" id="confirmPassword" >
                                    <span asp-validation-for="modifyPassword.confirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

           
                    <div class="panel panel-info border" style="margin: 1em;">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="pull-left">
                                    <input type="submit" class="form-control btn btn-primary" name="submit" id="submit" value="Cambiar Contraseña">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-9  admin-content" id="history">
                <table class="table">
    <thead>
        <tr>
                <th>
                    Position
                </th>
                <th>
                    Producto
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.history) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
}
    </tbody>
</table>
            </div>

            
        </div>
</div>


@section Scripts{
    <script>

         $(document).ready(function()
      {
        var navItems = $('.admin-menu li > a');
        var navListItems = $('.admin-menu li');
        var allWells = $('.admin-content');
        var allWellsExceptFirst = $('.admin-content:not(:first)');
        allWellsExceptFirst.hide();
        navItems.click(function(e)
        {
            e.preventDefault();
            navListItems.removeClass('active');
            $(this).closest('li').addClass('active');
            allWells.hide();
            var target = $(this).attr('data-target-id');
            $('#' + target).show();
        });
});

</script>
<script>
$(document).ready(function(){
});
 </script>
}