@model MejorPrecio3.MVC.Models.ModifyPasswordViewModel


            <div class="col-md-9  admin-content" id="change-password">
                <form action="/Account/ModifyPassword" method="post">
                    <div class="form-group" hidden>
                                    <input type="email" class="form-control" name="mail" id="newPassword" >
                    </div>
           
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="newPassword" class="control-label panel-title">New Password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password" id="newPassword" >
                                    <span asp-validation-for="password" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

             
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><label for="confirmPassword" class="control-label panel-title">Confirm password</label></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" >
                                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

           
                    <div class="panel panel-info border" style="margin: 1em;">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="pull-left">
                                    <input type="submit" class="form-control btn btn-primary" name="submit" id="submit" value="Cambiar Contraseña">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>