@model MejorPrecio3.MVC.Models.UserAdd

<div class="container" style="text-align:center">
    <h2>Bienvenido, @Model.Name</h2>
    <h4>Por favor verifique su email ingresando al link indicado en su direccion <q><em>@Model.Mail</em></q></h4>
</div>