@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
        </div>
 


     <div class="row" style="text-align:center;">
    @using (Html.BeginForm("searchByName", "Products", FormMethod.Get))
    {
        <div class="form-horizontal">  
  
        <hr />  
  
  
    </div> 


        <ul class="nav navbar-nav">
            <li>@Html.TextBox("name", ViewBag.CurrentFilter as string)</li>
            <li><input type="submit" value="Search" /></li>
        </ul>
    }

</div>
    <iframe
  width="700"
  height="550"
  frameborder="2" style="border:2"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCjP-q3fTsUk-z0pPGVlnmW_LilMGX4k6c
    &q=Lagash,Buenos+Aires,+Argentina" allowfullscreen>