@model MejorPrecio3.Models.Product


<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("", "Products", FormMethod.Post))
        {
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" id="provider-remote" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marca</label>
                <input asp-for="Brand" class="form-control"></input>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label">Codigo de Barras</label>
                <input asp-for="Barcode" class="form-control" type="number" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <input type="submit" value="Subir Producto" />
        }
    </div>
</div>
