@{
    ViewData["Title"] = "Home Page";
}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyC-hZmexho9d0YR06bY7q_Bvqj0mcuOna4&sensor=true" type="text/javascript"></script> 
 
 
<style> 
    #map_canvas img { 
        max-width: none; 
    } 
</style> 
 
<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map --> 
<style> 
    .infoDiv { 
        height: 200px; 
        width: 300px; 
        -webkit-user-select: none; 
        background-color: white; 
    } 
</style> 
<br /> 
<!-- This is the div that will contain the Google Map --> 
<div id="map_canvas" style="height: 550px;"></div> 
 
<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc --> 
@section scripts { 
    <section class="scripts"> 
 
        <script type="text/javascript"> 
 
    <!-- This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded. --> 
    $(document).ready(function () { 
        Initialize(); 
    }); 
 
    // Where all the fun happens 
    function Initialize() { 
 
        // Google has tweaked their interface somewhat - this tells the api to use that new UI 
        google.maps.visualRefresh = true; 
        var BsAs = new google.maps.LatLng(-34.603722, -58.381592); 
 
        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show 
        var mapOptions = { 
            zoom: 12, 
            center: BsAs, 
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP ,
            
  zoomControl: true,
  mapTypeControl: true,
  scaleControl: true,
  streetViewControl: true,
  rotateControl: true,
  fullscreenControl: true

        }; 
 
        // This makes the div with id "map_canvas" a google map 
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions); 
        
    } 
 
 
        </script> 
    </section> 
} 